<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Role</title>
</head>
<body>
    <h2>Add a new role</h2>
    <form method="POST" action="/create_role">
        <div>
            <label for="role">Role Name:</label>
            <input type="text" name="role" id="role">
        </div>
        <div>
            <input type="submit" value="Add Role">
        </div>
    </form>
    <button type="button"><a href="/create_role">Add role</a></button>
</body>
</html>